<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Departamentos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Listado de Departamentos</h1>
        <a th:href="@{/departamneto/nuevo}">nuevo</a>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Jefe</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="departamento : ${departamento}">
                    <td th:text="${departamento.id}"></td>
                    <td th:text="${departamento.nombreoucr}"></td>
                    <td th:text="${departamento.telefonooucr}"></td>
                    <td th:text="${departamento.jefeoucr}"></td>
                    <td>
                        <a th:href="@{/departamneto/editar/{id}(id=${departamento.id})}" class="btn btn-warning btn-sm">Editar</a>
                        <a th:href="@{/departamneto/eliminar/{id}(id=${departamento.id})}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
