<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de cliente</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
     <h1 class="text-center mb-5 mt-3" th:text="${cliente.id == null} ? 'Nuevo cliente' : 'Editar cliente'"></h1> 


     <div class="d-flex justify-content-center align-items-center   " >
        <div class=" justify-content-center border w-25 border-danger">

            <form class="mx-3 mt-2" th:action="@{/cliente}" th:object="${cliente}" method="post">
               <input type="hidden" th:field="*{id}" />
               <label class="">Nombre:</label>
               <input  class="form-control" type="text" th:field="*{nombreoucr}" />
               <label class="" for="">Direccion</label>
               <input class="form-control "  type="text" th:field="*{direccionoucr}">
                <label class="" for="">Fecha de Nacimiento</label>
               <input class="form-control "  type="date" th:field="*{fechanacimientooucr}">
               <label class="" for="">Sueldo</label>
               <input class="form-control "  type="number" th:field="*{sueldooucr}">
                <label class="" for="">Estatus</label>
               <input class="form-control "  type="number" th:field="*{estatusoucr}">
               <button class="btn btn-primary mt-2" type="submit">Guardar</button>
           </form> 
           <a class="mx-3 mt-3 mb-3 btn btn-info" href="/cliente">Volver a la lista</a>
        </div>
        </div>

</body>
</html>